---
import SideMenu from "../SideMenu.astro";
import HomeIcon from "@/icons/Home.astro";
import Spotify from "@/icons/Spotify.astro";
import { SearchBarComponent } from "../angular/SearchBar.component";

---

<nav class="flex flex-row items-center w-full gap-2 px-2 py-0 h-12">
    <!-- Logo -->
    <div class="flex-1 flex items-3">
        <SideMenu href="/">
            <Spotify  />
        </SideMenu>
    </div>
  
    <!-- home/serch-->
     <div class="flex flex-[2] flex-row gap-2 ml-35">
        <!-- home -->
         <div class="w-12   h-12 flex items-center justify-center bg-zinc-900 rounded-full hover:bg-zinc-800 cursor-pointer">
           <SideMenu href="/">
             <HomeIcon class="w-15 h-15 " />
           </SideMenu>
         </div>
       
         <!-- Search -->
        <SearchBarComponent  client:load />


     </div>
     <div class="flex-1 flex justify-end">
        notificacion
     </div>
  </nav>
