
---
import SideMenu from "./SideMenu.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
import LibraryIcon from "../icons/Library.astro"
import { playlists } from "../lib/data";
import SideMenuCard from "../components/SideMenuCard.astro"
---


<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>
            <SideMenu href="/">
                <HomeIcon />
                Home
            </SideMenu>

            <SideMenu href="/#">
                <SearchIcon />
                Search
            </SideMenu>

        


        </ul>

    </div>

    <div class="bg-zinc-900 rounded-lg p-2 flex-1">
        <ul>
            <SideMenu href="/#">
                <LibraryIcon />
                My Library
            </SideMenu>
            {
                playlists.map(playlist => <SideMenuCard playlist={playlist}/> )
            }

        </ul>

    </div>
</nav>
</nav>