
---
import SideMenu from "./SideMenu.astro";
import LibraryIcon from "../icons/Library.astro"
import { playlists } from "../lib/data";
import SideMenuCard from "../components/SideMenuCard.astro"
---


<nav class="flex flex-col flex-1 h-full">
    <div class="bg-zinc-900 rounded-lg p-2 flex-1">
      <ul class="flex flex-col gap-2 h-full overflow-y-auto">
        <SideMenu href="/#">
          <LibraryIcon />
          My Library
        </SideMenu>
  
        {
          playlists.map(playlist => <SideMenuCard playlist={playlist}/> )
        }
      </ul>
    </div>
  </nav>